 

header{
    display : flex;
    justify-content:space-between;
    margin-left:  2rem;
   
    
}
h1{
    font-weight:normal ;
    
}
ul{
    display: flex;
    justify-content:  space-around;
    list-style-type: none;
    font-size: x-large;
   
    

}
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:  0.5rem;
   
}
footer{
    color: white;
    background-color: black;
    text-align: center;
    height:4rem;
    font-size: x-large;
   
}
footer>p{
    padding: 1rem;
}
li:hover{
    cursor: pointer;
    color:red
}
nav{
    width : 50vw;
    
    margin-top: -0.2rem;
    
}
.bigImage{
    width : 96vw;
   
    margin-bottom: 40px;
}
.container{
    display:flex;
    justify-content: space-evenly;
}
.container>div{
    text-align:center;
    margin: 2rem;
    
}
.container>div>p{
    font-size: x-large;
    line-height: 1.5rem;
}